.chart{
    transform: translateY(-30px);
}
.single_sales p{
    font-size: 10px;
    color: whitesmoke;

}
.single_sales h3{
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
}
.single_sales  span{
    color: aqua;
    font-size: 15px;
}
.single_sales i{
    color: aqua;
}
.graph{
    transform: translateY(-34px);
}