<div class="bg-teal-400 card">
    <div class="d-flex justify-content-between p-4 ">
        <div>
            <h2 class="font-bold" style="color: white;">Dashboard</h2>
            <p class="font-medium" style="color: white;">Salessa > Dashboard > Sales</p>
        </div>
        <div class="mt-3">
            <p-toggleButton onLabel="Report" offLabel="create Report" [style]="{ width: '10em' }"></p-toggleButton>
        </div>
    </div>
</div>

<div class="d-flex chart gap-3 ">
    <div class="" style="width: 65%;">

        <div class="card  ms-4">
            <h4 class="m-3 text-700">Revenue</h4>
            <p-chart type="bar" [data]="data" [options]="options"></p-chart>

        </div>
        <div class="mt-4">
            <div class="card ms-4 ">
                <div class="d-flex justify-content-around  p-3 ">
                    <div class="me-5">
                        <h5 class="font-bold text-700">Download your earnings report</h5>
                        <p class="font-normal text-500 " style="font-size: 13px;">There are many variations of passages
                        </p>
                    </div>
                    <div class="">
                        <p-button label="create Report" class="pl-6"></p-button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card flex justify-content-center text-center" style="width: 34%;">
        <h6 class="font-semibold m-3 text-600">Total Sales Unit</h6>
        <p-chart type="polarArea" [data]="data1" [options]="options1" class="ms-4"></p-chart>

        <div class=" card surface-800 " style="margin-top: 20%;">
            <div class="slaes_unit_footer d-flex justify-content-between m-3 gap-3">
                <div class="single_sales">
                    <p>This Month Revenue</p>
                    <h3>$57k</h3>
                    <p class="d-felx align-items-center">
                        <i class="pi pi-arrow-up"></i>
                        <span>14.5%</span>
                        "up from last month"
                    </p>
                </div>
                <div class="single_sales disable_sales" style="opacity: 0.3;">
                    <p>This month Revenue</p>
                    <h3>$14k</h3>
                    <p class="d-felx align-content-center">
                        <i class="pi pi-arrow-up"></i>
                        <span>14.5%</span>
                        "Up from last month"
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex gap-3 ms-4    ">
    <div class="card " style="width: 33%;">
        <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid" [stroke]="chartOptions.stroke"
                [title]="chartOptions.title"></apx-chart>
        </div>
    </div>


    <div class="card" style="width: 30%;">
        <div class="progress m-3 mt-5">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress m-3 mt-5 ">
            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100"></div>
        </div>
        <div class="progress m-3 mt-5">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="card" style="width: 35%; padding-right: 3%;">
        <h4 class="m-3 font-italic font-bold text-teal-500" style="font-size: 50px;">356</h4>
        <p-chart type="bar" [data]="data2" [options]="options2" height="180px"></p-chart>

    </div>
</div>
<div class="d-flex">

<div class="card ms-4 mt-3" style="width: 33%;">
    <div class="d-flex justify-content-between m-2 mt-3">
        <h5 class="font-bold">Transaction</h5>
        <i class='bx bx-dots-horizontal mt-1 me-2'></i>
    </div>
    <div class="d-flex " style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <div class="p-2">
            <img src="../../assets/112.png" alt="" width="40px">
        </div>
        <div class="p-2 ">
            <h6 class="font-semibold">Electriciy Bill</h6>
            <h6 style="font-size: 11px;font-weight: bold; color: #8890b5;">10 Aug 03:00PM</h6>
        </div>
        <div class=" mt-2 ml-auto p-2">
            <h4 class="font-semibold" style="color: #e64b55;">-$1254.00</h4>
        </div>

    </div>
    <div class="d-flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <div class="p-2">
            <img src="../../assets/112.png" alt="" width="40px">
        </div>
        <div class="p-2">
            <h6 class="font-semibold">Electriciy Bill</h6>
            <h6  style=" font-size:11px; font-weight: bold;color: #8890b5;">10 Aug 03:00PM</h6>
        </div>
        <div class=" mt-2 ml-auto p-2">
            <h4 class="font-semibold" style="color: #4be69d;">-$1254.00</h4>
        </div>
    </div>
    <div class="d-flex" style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <div class="p-2">
            <img src="../../assets/112.png" alt="" width="40px">
        </div>
        <div class="p-2">
            <h6 class="font-semibold">Electriciy Bill</h6>
            <h6 style="font-size: 11px;font-weight: bold;color: #8890b5;">10 Aug 03:00PM</h6>
        </div>
        <div class="mt-2 ml-auto p-2">
            <h4 class="font-semibold" style="color: #4be69d;">-$1254.00</h4>
        </div>
    </div>
    <div class="d-flex " style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <div class="p-2">
            <img src="../../assets/112.png" alt="" width="40px">
        </div>
        <div class="p-2 ">
            <h6 class="font-semibold">Electriciy Bill</h6>
            <h6 style="font-size: 11px;font-weight: bold;color: #8890b5;">10 Aug 03:00PM</h6>
        </div>
        <div class="mt-2 ml-auto p-2">
            <h4 class="font-semibold" style="color: #4be69d;">-$1254.00</h4>
        </div>
    </div>
</div>







<div class="card ms-4 mt-3" style="width: 30%;">
    <div class="d-flex justify-content-between" style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <h6 class="font-semibold mt-2 ms-2">News & Upadate</h6>
        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" class="me-2"></p-dropdown>
    </div>
    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <p style="font-size: 15px; font-weight: bold; color: 101038;">36% off For pixel lights Couslations Types.</p>
        <p style="color: #8890b5; font-size: 13px;" class="mt-3">Sorem Kpsum is simply of the printing..</p>
    </div>
    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <p style="font-size: 15px; font-weight: bold; color: 101038;">We are produce new product this. </p>
        <p style="color: #8890b5;font-size: 13px;" class="mt-3">Gorem Rpsum is simply text of the printing... </p>
    </div>
    <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.05); margin: 15px;">
        <p style="font-size: 15px; font-weight: bold; color: 101038;">50% off For COVID Couslations Types.</p>
        <p style="color: #8890b5;font-size: 13px;" class="mt-3">EoremHpsum is simply dummy...</p>
    </div>

    <div class="d-flex justify-content-center font-semibold mt-4" style="color: #4be69d;" >
        <p>Load More</p>
        <i class="pi pi-angle-down mt-1 ms-2"></i>
    </div>
</div>


<div class="card ms-4 mt-3" style="width: 35%;">
    <div class="d-flex justify-content-between m-2 mt-3">
        <h5 class="font-bold">Transaction</h5>
        <i class='bx bx-dots-horizontal mt-1 me-2'></i>
    </div>
    <div class="d-flex justify-content-between ms-3 me-3 mt-3">
        <h6 class="font-semibold mt-2">Monthly Plan</h6>
        <p class="font-semibold" style="color: #8890b5; font-size: 23px;">$25</p>
    </div>
    <div class="d-flex justify-content-between ms-3 me-3 mt-3">
        <h6 class="font-semibold mt-2">Taxes</h6>
        <p class="font-semibold" style="color: #8890b5; font-size: 23px;">$25</p>
    </div>
    <div class="d-flex justify-content-between ms-3 me-3 mt-3">
        <h6 class="font-semibold mt-2">Extra</h6>
        <p class="font-semibold" style="color: #8890b5; font-size: 23px;">$25</p>
    </div>
    <p class="font-semibold ms-3 mt-2" style="color: #8890b5; font-size:13px;">Netflix and other bills in this month. </p>
    <div class="d-flex m-4 justify-content-around p-2 " style="background-color: #f8faff;">
        <div>
            <span class="font-semibold" style="color: #8890b5; font-size: 15px;">Total balance </span>
            <p style="font-size: 35px;color: #4be69d;" class="font-italic">$3650</p>
            <p-tag severity="success" value="+1235"></p-tag>
        </div>
        <div class="mt-4">           
            <p> <p-tag severity="color:bg-info" value="Today" class="custom-tags"></p-tag></p>
            <div class="mt-3">
                <p-tag severity="color:bg-info" value="This Week "></p-tag>
            </div>
        </div>
    </div>
</div>
</div>








