/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/primeicons/primeicons.css";
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "node_modules/primeng/resources/primeng.min.css";

@import "/node_modules/primeflex/primeflex.css";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.text-sidebar {
  font-size: 30px;
  font-weight: 600;
  color: #25f9f5;
  padding-bottom: 10px;
}

ul {
  padding: 0;
}

.customTabs .p-tabview-nav {
  justify-content: end;
  border: 0px;
}

.customTabs .p-tabview-panels {
  border-top: 1px solid #dee2e6;
}



.p-dropdown .p-dropdown-label {
  background-color: #e4fffa;
  color: #0fc171;
  padding-top: 1px;
}

.p-dropdown .p-dropdown-trigger {
  background-color: #e4fffa;
  color: #0fc171;
}

.p-dropdown {
  height: 30px;
}

.p-tag.p-tag-success {
  background-color: #d1eee7;
  color: #7bca9e;
}

.custom-tags .p-tag {
  background-color: #f16060;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-datepicker table td {
  padding: 0 !important;
}

.p-datepicker {
  border: none !important;
}

.p-datepicker table td.p-datepicker-today>span {
  background-color: #64c5b1;
  border-radius: 19px;

}


.p-datepicker table td>span {
  height: 3rem;
}

.max-w-full {
  text-align: center;
}

// .p-treetable-scrollable-body>table>.p-treetable-tbody>tr:first-child>td{
//   width: 124px;
// }
.p-treetable .p-treetable-tbody>tr>td {
  padding: 5px 5px;
}


.p-treetable-thead {
  background-color: blue;
}

.p-treetable .p-treetable-thead>tr>th {
  background-color: #f8faff;
  color: #64c5b1;
}

.testImage {
  display: none;
}

.monthly-Invoice tbody tr td:nth-child(2) {
  color: #bda5f8 !important;
}

.monthly-Invoice tbody tr td:nth-child(3) {
  color: #ff7f57 !important;
}

.monthly-Invoice tbody tr td:nth-child(4) {
  color: #64c5b1 !important;
}

.monthly-Invoice tbody tr td:nth-child(5) {
  color: #6fa5ec !important;
}
.p-calendar {
  width: 100% !important;
}





// tab responsive starts here

@media only screen and (min-width:767px) and (max-width:1028px) {
  .p-calendar {
    width: 100% !important;
  }
  .threechart-wrapper .all-chart-blocks-first .apexcharts-canvas{
    margin: 0 auto  !important;
      } 

}

// tab responsive ends here


// mobile responsive starts here
@media only screen and (max-width:767px) {

  .table-wrapper .p-treetable .p-treetable-tbody>tr>td .p-treetable-toggler {

    display: none;
  }

  .table-wrapper .p-treetable .p-treetable-thead>tr>th {
    padding: 1rem 0.1rem !important;
  }

  .table-wrapper .p-treetable .p-treetable-tbody>tr>td {
    padding: 5px 4px;
  }

  .marketing-wrapper .p-treetable .p-treetable-tbody>tr>td {
    padding: 5px 4px !important;
  }

  .marketing-wrapper .p-treetable .p-treetable-thead>tr>th {
    padding: 1rem 0.1rem !important;
  }

  .p-calendar {
    width: 100% !important;
  }

  .dashboard-wrapper .dashboard-wrapper-post .p-button {
    width: 9em !important;
  }

  .dashboard-wrapper-post {
    margin-top: 0px !important;
  }
}

// mobile responsive ends here